/* ======================Created by Munna========================== */
.head{
    display: flex;
    justify-content: space-between;
}
.logo a{
    color: #000;
    font-size: 33px;
    font-family: inherit;
    font-weight: bolder;
    text-decoration: none;
}

.nav{
    margin-top: 10px;
}

.nav ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}
.nav ul li a{
    color: #000;
    padding: 15px 20px;
    font-weight: 600;
    transition: all .3s;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;    
    /* box-shadow: 0px 1px 1px 1px #ddd; */
}
.nav ul li a:hover{
    color: #FFCC00;

}
.nav ul ul{    
    position: absolute;
    padding: 0;
    background: #fff;
    display: none;
    padding-right:20px;
    z-index: 9;
    width: 400px;
}
.nav ul ul li{    
    display: block;
    /* padding: 10px 0; */
    border-bottom:1px solid #ddd;
    padding:10px 0;
}
.nav ul li:hover ul{    
    display: block;
}

/* -----serach area------ */

.search{
    padding:0 15px;
    width: 100%;
    width:100%;
    display: inline-block;
    text-align: center;
}

.search>form>input,button{
    outline:none;
    border: 2px solid #dfdfdf;    
}
.search>form>input{
    padding:5px;
    width:60%;
}
.search>form>button{
    padding:5px 10px;
    width: 30%;
    transition: .5s;
}
.search>form>button:hover{
    background: #dfdfdf;
}
.login{
    margin-top: 10px;
    
}
.login a{
    color: #000;
    padding: 5px 5px;
    font-weight: 600;
    transition: all .3s;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

.border{
    /* box-shadow: -6px 7px#ddd; */
}
.tag>a{
    border:1px solid #FFCC00;
    padding:0 5px;
    color: #FFCC00;
    margin:5px;
    
}

/* -------------my profile-------------- */


.my_profile{
    background: #fff;
    width: 200px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 2px #ddd;
    position: absolute;
    display: none;
    z-index: 999;
}


.my_profile ul{
    margin: 0;
    padding: 5px 10px;
}

.my_profile ul li{
    list-style: none;
    padding:5px 0px;
}
.my_profile ul li:hover{
    background: #ddd;
}

.my_profile ul li a{
    font-size: 12px;
}
.login:hover .my_profile{
    display: block;
}

/* ---------submit post---- */

.note_textarea {
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    box-shadow: 1px 1px 1px 1px #dfdfdf;
    outline: none;
    padding: 10px;
  }
.note_textarea::placeholder {
    color: #d0cfcf;
  }

  /* ----------login form-------- */
  .login_form label{
    color: #000;
    font-weight: bolder;
  }
  .login_form input::placeholder{
    color: #d0cfcf;
  }


  /* ---------user post ----------- */
  .user_table{
    width: 100%;
  }
  
  .user_table>thead>tr>th{
    border:1px solid #ddd;
    color: #000;
    padding: 5px 10px;
  }
  .user_table>tbody>tr>td{
    border:1px solid #ddd;
    color: #000;
    padding: 5px 10px;
  }


  /* ----ad system---------- */
iframe{
    margin:0 auto;
}